@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2 class="display-4">Bem vindo : )</h2>

    <h5>Com o PetPass você tem a carteira de vacinação do seu Pet sempre a mão.</h5>

    <p>Faça já seu cadastro!</p>

</div>
