@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />

    <h1 style="color:white; font-weight:bold"> <i class="fas fa-medal"></i>Bem vindo!</h1>

    <br />

    <h5>Com o PetPass você tem a carteira de vacinação <br />do seu Pet sempre a mão.</h5>
    

    @if (!User.Identity.IsAuthenticated)
    {
        <br />
        <h5>Faça já seu cadastro!</h5>
        <p><a class="btn" asp-area="" asp-controller="Usuarios" asp-action="Create">Cadastro <i class="fas fa-paw"></i></a></p>
    }
    <img src="~/img/pet_2.png" style="width:400px; height:200px;" />
    <br />


</div>
