@model PetPass.Models.Vacina

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center" style="transform:translateX(-1.5%);">Editar Vacina</h2>

<hr />
<div class="row centralizar">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVac" />
            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" class="form-control" asp-items="ViewBag.PetId"></select>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <select asp-for="Descricao" class="form-control" asp-items="Html.GetEnumSelectList<TipoVacina>()"></select>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade_Aplicacao" class="control-label"></label>
                <select asp-for="Idade_Aplicacao" class="form-control" asp-items="Html.GetEnumSelectList<IdadeSemanas>()"></select>
                <span asp-validation-for="Idade_Aplicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Aplicacao" class="control-label"></label>
                <input asp-for="Data_Aplicacao" class="form-control" />
                <span asp-validation-for="Data_Aplicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dose_Aplicada" class="control-label"></label>
                <select asp-for="Dose_Aplicada" class="form-control" asp-items="Html.GetEnumSelectList<DoseAplic>()"></select>
                <span asp-validation-for="Dose_Aplicada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn" />
                <a asp-action="Index" class="btn">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
