header {
  display: flex;
  width: 100%;
  max-width: 1480px;
  margin: auto;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: space-between;

  .logo {
    h1 {
      font-size: 2rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;

    button {
      padding: 1rem 2rem;
      border-radius: 8px;
      background: transparent;
      border: 2px solid #797d9a;
      font-size: 1.2rem;
      color: white;
      cursor: pointer;
      position: relative;
    }
    button::before {
      content: "";
      position: absolute;
      background: #797d9a;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.5s ease;
    }

    button:hover::before {
      width: 100%;
    }
  }

  @media (max-width: 720px) {
    button {
      width: 100px;
      height: 50px;
    }
  }
}
